body {
  background-color: grey ;
  margin: 0;
}
.navbar {
  background-color: #333;
  left: 0;
  top: 0; 
  width: 100%; 
  justify-content: space-around;
  justify-content: flex-start;
  display: flex;
  position: relative;
}

.buttons{
  margin-left: auto;
  margin-right: auto;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: Arial, sans-serif;
  width: 80px;
 
}
.navbar a:hover {
  background: #ddd;
  color: black;
}

svg{
  width: 80px;
  height: 40px;
}

.status{
    background-color: yellow !important;
    color: black !important;
  }

.header{
  margin-top: 1%;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  
}
text{
  font-size: xx-large;
}
.content{
  text-align: center;
  width: 100%;  
  font-family: Arial, Helvetica, sans-serif;
}
.content ul{
  list-style: none;

}
footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkgrey;  
  text-align: center;
  font-family: Arial, sans-serif;
  position: fixed;
  

}
footer a {
  color:white;
  text-decoration: none;

}
footer ul {
  list-style: none;
}


video {
  margin-top: 5%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  height: 60%;
  width: 60%;
}


.gallery{
  margin-top: 1%;
  height: fit-content;
  margin-bottom: 7%;
}

 img {
  margin-top: 1%;
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.todo_item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: goldenrod;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 5px;
}
.todo_item_container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 2%;
}
.todo_item_text {
  overflow: hidden;
  font-size: 25px;
}
.todo_controls {
  display: inline-flex;
}
.todo_item img {
  height: 25px;
  width: 25px;
  margin: 0 5px;
  cursor: pointer;
}
.todo_plus {
  display: flex;
  align-self: center;
  height: 30px;
  width: 30px;
  margin-left: 30px;
  text-align: center;
}
.todo_plus:hover {
  border: 2px solid green;
}

.content_box {
  margin-top: 2%;
  margin-bottom: 3%;
  font-size: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.content_list {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: center;
  text-align: center;
  color: greenyellow;
  font-size: 35px;
}